html, body {
	width: 100%;
	height: 100%;
	/* remove the extra whites around */
	margin: 0;
}
#main_menu {
	background-color:black;
	width:100%;
	height:100%;
}

#username {
	padding:5px;
	margin:5px;
	background-color:black;
	border:solid 2px red;
	color:white;
}
#server_selection_input {
	margin:5px;
	padding: 5px;
	background-color:black;
	width:70%;
	color:white;
	border:solid 2px red;
}
#name_form_submit {
	margin:5px;
	padding:5px;
	width:70%;
	background-color:black;
	border:solid 2px red;
	color:white;
}

#canvas_holder {
	position: absolute;
	display:none;
	top:0px;
	left:0px;
}
#canvas_holder canvas {
	position:absolute;
	top:0px;
	left:0px;
}
#canvas {
	z-index: -2;
}
#background_canvas {
	z-index:-3;
}
#UI_canvas {
	z-index: -1;
}

#title_screen_image {
	min-width: 100%;
	max-width:100%;
	height: auto;
}

#form_box {
	width:20%;
	height:40%;
	position:absolute;
	top:20%;
	left:40%;
	margin:auto;
	background-color:black;
	text-align:center;
}
#name_form {
	position:relative;
	top:25%;
	transform: translateY(-50%);
}
#respawn_form_box {
	display: none;
	width: 20%;
	height: 30%;
	position: absolute;
	top: 30%;
	left: 40%;
	margin: auto;
	background-color: gray;
	text-align: center;
}



.fade-in {
	animation: fadeIn ease 1s;
	-webkit-animation: fadeIn ease 1s;
	-moz-animation: fadeIn ease 1s;
	-o-animation: fadeIn ease 1s;
	-ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}